body {
    display: flex;
    background-image: url("C:/Users/5/Desktop/мои рисунки/game/bg.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
}

#story {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px; 
    box-sizing: border-box; 
}

p {
    margin: 0;
    border: 2px solid #092c1d;
    font-size: 30px;
    background-color: #c1e1cc;
    text-align:justify;
    font-family: Calibri;
}

button {
    width: 100px;
    height: 100px;
}
h3 {
    position: fixed;
    top: 200px;
    left: 610px;
    font-family: Calibri;
    font-size: 40px;
    color: #092c1d;
}
#Chase {
    background-image: url("C:/Users/5/Desktop/мои рисунки/game/Chase_cc.jpg");
    background-size: contain;
}
#Sylvie {
    background-image: url("C:/Users/5/Desktop/мои рисунки/game/Sylvie_cc.jpg");
    background-size: contain;
}
#Smokey {
    background-image: url("C:/Users/5/Desktop/мои рисунки/game/Smokey_cc.jpg");
    background-size: contain;
}
#Dozy {
    background-image: url("C:/Users/5/Desktop/мои рисунки/game/Dozy_cc.jpg");
    background-size: contain;
}

img {
    height: 300px;
    width: 300px;
    position: fixed;
    top: 10px;
    left: 600px;
}