body {
    background-image: url("C:/Users/5/Desktop/мои рисунки/game/bg.jpg");
    background-size:cover;
}
#startToPlay {
    height: 100px;
    width: 200px;
    position: fixed;
    top: 400px;
    left: 650px;
    font-family: Calibri;
    font-size: larger;
    font-size: 50px;
    color: #002cad;
    background-color: #d7e1ef;
    border-color: #002cad;
}
#ChaseMainMenu {
    height: 300px;
    width: 300px;
    position: fixed;
    top: 150px;
    left: 630px;
}